.header{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 214, 214);
    z-index: 100;
   

}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-icon
{
    height: 25px;
    margin-left: 16px;
    margin-right: 24px;
    cursor: pointer;
}
.youtube-logo
{
    height: 20px;
    cursor: pointer;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width:  500px;
    display: flex;
    align-items: center;

}
.search-button{
 height: 40px;
 width: 66px;
 background-color: rgb(255, 255, 255);
 border-width: 0.8px;
 border-style: solid;
 border-color:  rgb(204, 204, 204);
 margin-left: -1px;
 margin-right: 10px;
 color: rgb(0, 0, 0);
 cursor: pointer;
 border-color: none;
}
.search-icon{
    height: 25px;
}
.voice-icon{
    height: 24px;
    
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.search-button, .voice-button, .upload-container, .apps-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.apps-container .tooltip,
.notifications-container .tooltip{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -38px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.searchbar::placeholder{
    font-family: roboto, Arial;
    font-size: 15px;
    
}
.searchbar{
    flex: 1;
    height: 35px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 16px; 
    border: 2px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
    position: relative;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-container:hover .tooltip
{
    opacity: 1;
}



.right-section{
    width: 180px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
    cursor: pointer;
}
.apps-icon{
    height: 24px;
    cursor: pointer;
}
.notifications-icon{
    height: 24px;

}
.notifications-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(252, 9, 9);
    font-family: Roboto,Arial;
    font-size: 11px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom:2px;
    color: white;
    cursor: pointer;
}
.myaccount-icon{
    height: 32px;
    margin-right: 5px;
    border-radius: 16px;
    cursor: pointer;
}

